.span12
	.row
		%h1.span4 #{link_to 'The-Bash', root_path}
	.row.navbar
		.navbar-inner
			%ul.nav
				%li #{link_to 'Gallery', gallery_path}
				%li #{link_to 'Our Story', our_story_path}
				%li #{link_to 'Event', event_path}
				%li #{link_to 'Contact Us', contact_us_path}
				%li #{link_to 'About', about_path}
				%li #{link_to 'Hotels', hotel_path}
				%li #{link_to 'Gifts', gifts_path}
.span12